
<!-- <router-outlet></router-outlet> -->
<div>
<img src="assets/img/blocks.jpg" class="responsive" width="100%" height="auto" >
<button type="button" class="btn btn-default " routerLink="/components/login" >Login</button>
</div>
<!-- <div class="">
  <video class="embed-responsive-item" style="width: 1020px; height: 574px; left: 0px; top: 0px;" src="https://www.youtube.com/watch?v=WgodkB-mxDA"></video>
</div> -->

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
</div>