<div class="row">
    
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Current Blockchain Hash</strong> 
        </div>

        <div class="card-body">

          <h5>12345668shssgsg1g2gg33jjssb2uu212s2j21jb21jsn21jsnj1nsj21nsj21snj12n(This is dumy data)</h5>
        </div> 
      </div>
    </div>
  </div>


      
    
    <div class="row">
         <div class="col-md-6 col-sm-6 col-lg-6">
               <div class="card">
                   <div class="card-header">
                        <strong>Blockchain Height</strong> 
                   </div>

                   <div class="card-body">

                        <h5>7</h5>
                   </div> 
              </div>
         </div>

         <div class="col-md-6 col-sm-6 col-lg-6">
                   <div class="card">
                        <div class="card-header">
                             <strong>Channels Joined</strong> 
                       </div>

                         <div class="card-body">

                                 <h5>FirstChannel</h5>
                         </div> 
                   </div>
            </div>


         </div>
  

  <div class="row">

 <div class="col-md-12 col-sm-12 col-lg-12">
               <div class="card">

                <div class="card-header">
                        <strong>Totals Peers Active</strong> 
                   </div>

                   <div class="card-body">

                        <h5>Peer1st-orga</h5>
                        <h5>Peer2nd-orga</h5>
                   </div> 
              </div>

  </div>