
  
 
  
  <div class="row">
    <div class="col-md-12">
      
         <div class="card">
        <div class="card-header">
          <strong>Search By Block Number</strong> 
        </div>
        
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="card-body">
            <div class="form-group row">
              
              <div class="col-md-9">
                <input type="text" class="form-control" id="blocknumber" [(ngModel)]="blockNumber" name="blockNumber" placeholder="Enter  blocknumber">
               
              </div>
            </div>
            <div class="form-group row">
            
              <div class="col-md-9">
                <input type="text"  class="form-control" id="orgtoken" [(ngModel)]="orgtoken" name="orgtoken" placeholder="Enter Organization token">
                
              </div>
            </div>
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>
<!---/.column -->
  </div>
  
  <!--/.row-->
  </div>








<div class="row">
    <div class="col-md-12">
      

<h6>Transaction Id</h6><div #dataContainer></div>

    </div>


  </div>


  <div class="row">
    <div class="col-md-12">
      

<h6>Previous Hash</h6><div #dataContainer2></div>

    </div>


  </div>


  <div class="row">
    <div class="col-md-12">
      

<h6>Endorsement Organization Name</h6><div #dataContainer3></div>

    </div>


  </div>


  <div class="row">
    <div class="col-md-12">
      

<h6>Endorsment Signature</h6><div #dataContainer4></div>

    </div>


  </div>


<div class="row">
    <div class="col-md-12">
      

<h6>Endorsment Organization Name</h6><div #dataContainer5></div>

    </div>


  </div>



<div class="row">
    <div class="col-md-12">
      

<h6>Endorsment Signature</h6><div #dataContainer6></div>

    </div>


  </div>





  <div class="row">
    <div class="col-md-12">
      

<h6>Creator Organization Name</h6><div #dataContainer7></div>

    </div>


  </div>



<div class="row">
    <div class="col-md-12">
      

<h6>Creator Signature</h6><div #dataContainer8></div>

    </div>


  </div>




<div class="row">
    <div class="col-md-12">
      

<h6>TimeStamp</h6><div #dataContainer9></div>

    </div>


  </div>






