<div class="animated fadeIn">
  
  <div class="row">
    
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Enroll Degree</strong> 
        </div>
        
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="card-body">
            <div class="form-group row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Enter  StudentName">
               
              </div>

              <div class="col-md-6">
                <input type="text" class="form-control" id="fname" [(ngModel)]="university" name="fname" placeholder="Enter Student FatherName ">
               
              </div>

            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <input type="text"  class="form-control" id="enrollment" [(ngModel)]="enrollment" name="enrollment" placeholder="Enter Enrollment Number">
                
              </div>

              <div class="col-md-6">
                <input type="text"  class="form-control" id="cgpa" [(ngModel)]="cgpa" name="cgpa" placeholder="Enter CGPA">
                
              </div>

            </div>


            <div class="form-group row">
              <!-- <div class="col-md-6">
                <input type="text"  class="form-control" id="orgtoken" [(ngModel)]="orgtoken" name="orgtoken" placeholder="Enter Organization token">
                
              </div> -->

              <div class="col-md-6">
                <input type="text"  class="form-control" id="batch" [(ngModel)]="batch" name="batch" placeholder="Add Batch">
                
              </div>

              <div class="col-md-6">
                <!-- <input type="text"  class="form-control" id="field" [(ngModel)]="department" name="department" placeholder="Enter Department"> -->
                
                <mat-form-field >
                  <mat-select id="department" [(ngModel)]="department" name="department" placeholder="Department"  >
                    <mat-option *ngFor="let dp of depart" [value]="dp.value"  >
                      {{ dp.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
                </div>
                <div class="form-group row">

                <div class="col-md-6">

                  <input type="text"  class="form-control" id="year" [(ngModel)]="year" name="year" placeholder="Year of Passing">
                  
                </div>
                



              </div>

            </div>



          
        
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>
      
    </div><!--/.col-->
  

  
<!--/.row-->
  
  <div class="row">
    <div class="col-md-12">
      
<label class="col-md-3 col-form-label" >Transaction Id</label>
<div #dataContainer></div>

    </div>


  </div>
  
  <!--/.row-->
  
</div>
</div>
