<div class="row">
    <div class="col-md-12">
      
         <div class="card">
        <div class="card-header">
          <strong>Search By Transaction Id</strong> 
        </div>
        
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>
            <div class="card-body">
            <div class="form-group row">
              
              <div class="col-md-9">
                <input type="text" class="form-control" id="transactionid" [(ngModel)]="transactionid" name="transactionid" placeholder="Enter  transactionid" required>
               
              </div>
            </div>
         
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>
<!---/.column -->
  </div>
  
  <!--/.row-->
  </div>
 




  <div class="row">
    <div class="col-md-12">
      

<strong>Endorsement Organization Name</strong><div #dataContainer3></div>

    </div>


  </div>


  <div class="row">
    <div class="col-md-12">
      

<strong>Endorsment Signature</strong><div #dataContainer4></div>

    </div>


  </div>


<div class="row">
    <div class="col-md-12">
      

<strong>Endorsment Organization Name</strong><div #dataContainer5></div>

    </div>


  </div>



<div class="row">
    <div class="col-md-12">
      

<strong>Endorsment Signature</strong><div #dataContainer6></div>

    </div>


  </div>





  <div class="row">
    <div class="col-md-12">
      

<strong>Creator Organization Name</strong><div #dataContainer7></div>

    </div>


  </div>



<div class="row">
    <div class="col-md-12">
      

<strong>Creator Signature</strong><div #dataContainer8></div>

    </div>


  </div>




<div class="row">
    <div class="col-md-12">
      

<strong>TimeStamp</strong><div #dataContainer9></div>

    </div>


  </div>





